---
title: Confirm your signup
bodyClass: bg-gray-200
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-alternative">
      <tr>
        <td align="center" class="bg-dp-background-gray py-6">
          <table class="w-[600px] sm:w-full bg-white">
            <component src="src/components/hero.html"> </component>
            <component src="src/components/title.html"> </component>
            <component src="src/components/body.html"> </component>
            <tr>
              <td class="text-center px-8 xs:px-3">
                <p class="text-dp-font-dark-gray text-sm">
                  Du kan altid bede om et
                  <a
                    class="text-dp-blue-500"
                    href="https://app.dreamplan.io/"
                    target="_blank"
                  >
                    nyt login link her:
                  </a>
                </p>
              </td>
            </tr>
            <tr>
              <td class="pt-5 px-8 xs:px-3 text-center">
                <a
                  href="https://app.dreamplan.io/login"
                  class="inline-block py-4 px-8 text-sm leading-none [text-decoration:none] text-white font-semibold rounded-full bg-dp-blue-500 hover:bg-blue-600"
                >
                  <span>Login</span>
                </a>
              </td>
            </tr>
            <component src="src/components/contactEmail.html"> </component>
            <component src="src/components/footer.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
