<table class="w-[600px] bg-dp-grayscale-800 py-5 text-white text-sm">
  <tr align="center">
    <td class="my-3">
      <img class="w-8" src="images/linkedin.png" alt="linkedin icon" />
      <img class="w-8" src="images/facebook.png" alt="facebook icon" />
    </td>
  </tr>
  <tr>
    <td class="text-center">
      {{footer.text}}
      <a class="text-blue-500 no-underline" href="">Unsubscribe</a>
    </td>
  </tr>
  <tr>
    <td class="text-center">
      {{company.name}}
      <a class="text-blue-500 no-underline" href="{{company.address}}" target="_blank"
        >Applebys Pl. 7, 1411 København, Denmark</a
      >
    </td>
  </tr>
</table>
